altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
cryptography
distro
gitdb
GitPython
h11
httpcore
httpx
idna
Jinja2
jiter
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
openai
oracledb
packaging
pandas
pillow
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
python-dateutil
python-dotenv
pytz
referencing
requests
rpds-py
six
smmap
sniffio
streamlit
tenacity
toml
tornado
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
